<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="7200">
  <title>Foo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.min.js" defer></script>
  <script src="assets/js/app.js" defer></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body>
<div id="app">
  <div class="clock"> {{ time }}</div>
  <div v-if="stage === 0" id="slides" class="slides" v-bind:style="{ width: slides_width }">
    <div class="alert" v-if="entries.length === 0">
      <p>Inga nyheter hittades, kom tillbaka senare.</p>
    </div>
    <div class="slide" v-for="entry in entries" v-bind:style="{ width: slide_width }">
      <h3 class="title">{{ entry.title }}</h3>
      <ul class="meta">
        <li class="published">Publicerad: {{ entry.published }}</li>
        <li class="updated">Uppdaterad: {{ entry.updated }}</li>
      </ul>
      <div class="wrapper">
        <div class="content" v-html="entry.content"></div>
      </div>
    </div>
  </div>
  <div id="images" class="images" v-if="stage === 1" v-bind:style="{ width: images_width }">
    <div v-for="entry in images" v-bind:style="{ width: image_width }">
      <img :src="entry">
    </div>
  </div>
  <div class="bar"></div>
  <h4 v-if="stage === 0" class="more">Läs mer på www.datavetenskap.nu</h4>
  <div class="overlay"></div>
</div>
</body>
</html>
