* {
  margin:             0;
  padding:            0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  /* border-box - lets the element using for example padding to keep it's width and not expand. */
}

html, body {
  width:  100%; /* we must set both width and height to 100%, because % always uses the parent, it inherits. */
  height: 100%;
}

.slides {
  width:    100%;
  height:   100%;
  overflow: hidden;
  /*
  overflow: hidden - this make sure that we wont get a scroll because of content being bigger than the screen, if you
  temporarily remove this you'll see a vertical scroll.
  */
}

.slide {
  height: 100%;
  width:  100%;
}