* {
  margin:             0;
  padding:            0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  /* border-box - lets the element using for example padding to keep it's width and not expand. */
}

html {
  width: 100%;
  height: 100%;
  font-size: 1em;
  overflow: hidden;
}

body {
  width:  100%; /* we must set both width and height to 100%, because % always uses the parent, it inherits. */
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  background: url('https://www.datavetenskap.nu/theme/img/bg_alt.jpg') no-repeat;
  background-size: cover;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: normal;
}

strong{
  font-weight: normal;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.slides {
  height:   100%;
  /*
  overflow: hidden - this make sure that we wont get a scroll because of content being bigger than the screen, if you
  temporarily remove this you'll see a vertical scroll.
  */
  transition: transform 0.5s ease;
}

.slide {
  height: 100%;
  width:  10%;
  float: left;
  padding: 40px;
}

.title{
  background: #A71D31;
  display: inline-block;
  padding: 10px;
  color: #fff;
}

.meta{
  list-style: none;
  overflow: hidden;
}

.meta li{
  float: left;
  background: #111;
  color: #fff;
  padding: 10px;
}

.wrapper{
  background: #D7D2C8;
  padding: 20px;
  margin-top: 40px;
  border-radius: 2px;
}

.content{
  background: #fff;
  padding: 30px;
  border-radius: 2px;
}

.content ul{
  list-style-position: inside;
}

.bar{
  width: 0;
  height: 5px;
  background: #A71D31;
  position: absolute;
  left: 0;
  top: 0;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.more{
  width: 100%;
  padding: 20px;
  margin-bottom: 0;
  background: #111;
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(255,255,255,0.5);
  text-align: center;
}
